
.content-wrapper{
    background-color: transparent;
    margin-left: 318px;
    padding-top: 0;
    padding-left: 1.5%;
    padding-right: 1.1%;
    &.menu_closed{
        margin-left: 75px;
    }
}

