@import "~compass-mixins/lib/compass";
@mixin trans($prop:All,$time:0.2s){
    -webkit-transition: $prop $time ease-in-out;
    -moz-transition: $prop $time ease-in-out;
    -o-transition: $prop $time ease-in-out;
    -ms-transition: $prop $time ease-in-out;
    transition: $prop $time ease-in-out;
}

.list-box-container{
    border: 0.063rem solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
    margin-top:42px;
    .list-box-header{
        color: #0e1a35;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 3rem;
        display: flex;
        justify-content: space-between;
        padding: 4% 5%;
        border-bottom:0.063rem solid rgba(#8492af,0.3);
        .title{
            margin-right: auto;
        }
        .notification{
            width: 2.813rem;
            height: 2.813rem;
            @include border-radius(50%);
            text-align: center;
            color: #ffffff;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.7rem;
            margin: 0 1%;
            &.blue{
                background-color: #5384ff;
            }
            &.pink{
                background-color: #f83c7b;
            }
        }
    }
    .list-box-content{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                border-bottom:0.063rem solid rgba(#8492af,0.3);
                padding: 32px 5% 33px;
                @include trans();
                align-items:center;
                display: flex;
                > div{
                    min-width: 0;
                }
                &:last-child{
                    border-bottom:none;
                }
                &:hover{
                    background-color: rgba(#dadee7,0.3);
                    .time{
                        color: #f83c7b;
                        &:before{
                            content: url("../assets/images/time_icon.png");
                        }
                    }
                }
                .img_container{
                    //img{
                    //    max-width: 100%;
                    //}
                }
                .details{
                    margin-left:5%;
                    width: 100%;
                    p,
                    .title,
                    .texts{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        padding-right: 5%;
                    }
                }
                .title{
                    color: #0e1a35;
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 1.317rem;
                    letter-spacing: 0.018rem;
                    margin-bottom:7px;
                }
                .time{
                    &:before{
                        content: url("../assets/images/time_icon_gray.png");
                        float: left;
                        margin-right: 2%;
                    }
                    color: #8492af;
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.2rem;
                }
                .dots{
                    margin-left: auto;
                    img{
                        margin-top:5px;
                    }
                }
            }
        }
    
        ul.messages{
            li{
                .time{
                    color: #8492af;
                    font-weight: 400;
                    letter-spacing: 0.013rem;
                    display: inline-block;
                    &:before{
                        content: '';
                    }
                }
            }
        }
        
        ul.messages,
        ul.activity{
            li{
                padding: 21px 5% 20px;
                color: #0e1a35;
                font-size: 0.875rem;
                .icons{
                    display: flex;
                    cursor: pointer;
                }
                
                .share{
                    background-image: url("../assets/images/share_icon.png");
                    width: 18px;
                    height:14px;
                }
                
                .settings{
                    background-image: url(../assets/images/settings.png);
                    width:16px;
                    height:16px;
                    margin-left:13px;
                }
            }
            
        }
    
        ul.activity{
            li{
                border-bottom:none;
                position: relative;
                padding: 31px 5% 32px;
                    &:before{
                        content: '';
                        width: 0.063rem;
                        height: 70px;
                        background-color: #8492af;
                        @include opacity(0.3);
                        position: absolute;
                        left: calc(5% + 24px);
                        bottom: -35px;
                    }
                
                &:last-child{
                    &:before{
                        display: none;
                    }
                }
                .time{
                    margin-top:10px;
                }
            }
        }
    }
}
