@import "~compass-mixins/lib/compass";
@mixin trans($prop:All,$time:0.2s){
    -webkit-transition: $prop $time ease-in-out;
    -moz-transition: $prop $time ease-in-out;
    -o-transition: $prop $time ease-in-out;
    -ms-transition: $prop $time ease-in-out;
    transition: $prop $time ease-in-out;
}
.logo_container{
  padding: 25.5px 13% 31px;
}

.navbar-nav.navbar-sidenav{
  @include trans(all,0.01s);
    margin-top: 0 !important;
    background-color: #0e1a35 !important;
    width:318px;
    min-height: 100vh;
    li{
       width: 100% !important;
        padding: 33px 42px !important;
        border-left:10px solid #0e1a35;
        @include trans;
        position: relative;
        &:after{
            content: '';
            width: calc(100% + 100px);
            border-bottom: 0.125rem solid rgba(11, 10, 16, 0.2);
            float: left;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .nav-link-text{
        }
        a{
            padding: 0 !important;
            img{
                float: left;
                margin-top:7px;
            }
            span{
                float: left;
                font-family:Roboto;
                color: #ffffff;
                font-size: 1.5rem;
                font-weight: 500;
                margin-left:6%;
            }
        }
    }
    li.current,
    li:hover{
        background-color: #122143;
        border-left-color: #5584ff;
    }
};

.navbar-nav.navbar-sidenav{
  &.menu_closed{
    width: 75px;
    .nav-link-text{
      display:none !important;
    }
    li {
      padding-left: 15px !important;
      padding-right: 10px !important;
    }
  }
}



.menu_closed{
  .top-menu-container{
    .menu_toggle_icon{
      &:after{
        content: '';
        margin-left:-12px;
      }
      &:before{
        content: url("../assets/images/arrow_menu_open.png");
        margin-right:-12px;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
    }
  }
}