@import "~compass-mixins/lib/compass";
@mixin trans($prop:All,$time:0.2s){
  -webkit-transition: $prop $time ease-in-out;
  -moz-transition: $prop $time ease-in-out;
  -o-transition: $prop $time ease-in-out;
  -ms-transition: $prop $time ease-in-out;
  transition: $prop $time ease-in-out;
}
.top-menu-container{
  
  .menu_toggle_icon{
    background-image: url("../assets/images/menu_icon.png");
    width: 26px;
    height: 20px;
    margin-top: 14px;
    cursor: pointer;
    &:after{
      content: url("../assets/images/arrow_menu_open.png");
      margin-left:-12px;
    }
  }
  .search_icon{
    background-image: url("../assets/images/search_icon.png");
    width: 24px;
    height: 24px;
    margin-left:40px;
    margin-top: 13px;
  }
  
  .messages_icon{
    background-image: url("../assets/images/messages_icon.png");
    width: 33px;
    height: 23px;
    margin-right: 31px;
    margin-top: 12px;
  }
  
  .notifications_icon{
    background-image: url("../assets/images/notifications_icon.png");
    width: 24px;
    height:28px;
    margin-right: 45px;
    margin-top: 9px;
    position: relative;
    
    .numbers{
      width: 1rem;
      height: 1rem;
      border: 0.125rem solid #ffffff;
      background-color: #5584ff;
      @include border-radius(50%);
      color: #ffffff;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.008rem;
      position: ABSOLUTE;
      right: -7px;
      top: -6px;
      text-align: center;
    }
  }
  
  .profile_box{
    * {
      display: inline-block;
    }
  }
  
  .down_arrow{
    background-image: url("../assets/images/down_arrow.png");
    width: 12px;
    height: 7px;
  }
  
  .add_project {
    margin-left: auto;
    margin-right: 51px;
  }
  
  button{
    background-color: #5584ff;
    appearance: none;border: none;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.015rem;
    padding: 10px 29px 11px;
    @include border-radius(24px);
    @include trans;
    cursor: pointer;
    &:hover{
      background-color: #0e1a35;
    }
    &.plus:before{
      content: '+';
      width: 0.75rem;
      height: 0.75rem;
      color: #ffffff;
      @include opacity(0.5);
    }
  }
}

  .top-menu-container.menu_closed{
    .menu_toggle_icon{
      &:after{
        content: '';
        margin-left:-12px;
      }
      &:before{
        content: url("../assets/images/arrow_menu_open.png");
        margin-right:-12px;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        float: right;
      }
    }
  }
