/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body.fixed-nav.sticky-footer.bg-dark{
    background-color: #f6f7fa !important;
    padding-top: 147px;
    font-family: Roboto;

}

html{
    font-size: 16px;
}

.fixed-top {
    padding: 0;
}

h1{
    color: #0e1a35;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom:0;

}

#mainNav .navbar-collapse {
    background-color: #fff;
    padding: 33px 2.15% 32px 2.7%;
    margin-left: 318px;
    border-bottom: 0.063rem solid rgba(132, 146, 175, 0.3);
    transition: All 0.1s ease-in-out;
    display: block !important;
}

#mainNav .navbar-collapse.menu_closed {
    margin-left: 55px;
}

@media( min-width: 1200px ) {
    .col-xl-5 {
        -ms-flex: 0 0 39.85%;
        flex: 0 0 39.85%;
        max-width: 39.85%;
    }
    .col-xl-7 {
        -ms-flex: 0 0 60.15%;
        flex: 0 0 60.15%;
        max-width: 60.15%;
    }
}


@media( max-width: 1200px ) {
    html {
        font-size: 15px;
    }
}

@media( max-width: 992px ) {
    html {
        font-size: 14px;
    }

    .menu_toggle_icon{
        display: none;
    }

    #mainNav .navbar-collapse.menu_closed {
        margin-left: 75px;
    }
}

@media( max-width: 600px ) {
   .search_icon,
   .add_project{
       display: none;
   }
    .nav-item{
        margin-right: auto;
    }
}

